<h1>List of users</h1>


<table border="1">
  <tr>
    <th>
      Username
    </th>
    <th>
      Private?
    </th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <% @list_of_users.each do |a_user| %>

      <td>
        <%=a_user.username%>
      </td>

      <td>
        <%if a_user.private == false%>
          No
        <%else%>
          Yes
        <%end%>
      </td>

      <td>
        <%if @current_user == nil%>

        <%else%>
        
          <% the_followrequest = @current_user.followsent.where({:recipient_id => a_user.id}).at(0) %>
          <% if the_followrequest == nil %>

            <form action="/homeinsert_followrequest" method="post">
              <div>
                <input type="hidden" id="sender_id_box" name="query_sender_id" value="@current_user.id">
              </div>
              <div>
                <input type="hidden" id="recipient_id_box" name="query_recipient_id" value="<%=a_user.id%>">
              </div>
              <div>
                <input type="hidden" id="status_box" name="query_status" value="pending">
              </div>
              <button>
                Follow
              </button>
            </form>
          
          <% elsif the_followrequest.status == "accepted" %>
              
              <a href="">Unfollow</a>

          <% elsif the_followrequest.status == "pending" %>
          
            Request sent. <a href="">Cancel</a>

          <%else%>
  
        <%end%>

        <%end%>
      </td>

      <td>
        <a href="/users/<%=a_user.username%>">Show details</a>
      </td>

    </tr>

  <%end%>
</table>
